{% extends 'beer/base.html' %}
{% load static %}

{% block body_block %}
<br><br>
<div class="container bg-white w-75 rounded shadow">
  <center>
      <h1>ABOUT</h1>
  </center>
    <p>
      We realized that many people never tried Kraft Beer, mostly due to not knowing the styles,
      what to expect from those styles, and due to the elevated costs.
    </p>
    <p>
      So we started to research all the beer Styles and their respective features, such as ABV(<em>Alcohol By Volume</em>),
      IBU(<em>International Bitterness Units</em>), SRM(<em>Standard Reference Method</em>), Harmonization, History and etc.
    </p>
    <p>
      With that we created this website where the user inputs age, gender and the desired
      ABV(alcohol content), the IBU(bitternes), SRM(clarity) and gets a beer recommendation based on their input.
    </p>
    <p>
      The goal here is in the near future to create a Reccomendation Model with Machine Learning,
      to reccomend beer Styles by user profile and location, recommending local breweries.
    </p>
    <p>
      Expading the market and helping to spread the word from the smallest to the biggest brewers in the world.
      It's a ever growing market and this innovation it's extremely scalable, prone to great partnerships, sponsorships and evolution.
    </p>
    <p>
      We are still adding information and details to our Database, so every information is appreciated.
    </p>
    <p>m.creations09@gmail.com</p>
    <p><em>CHEERS!</em></p>
</div>

{% endblock %}
